.content {
    width: 1200px!important;
    margin: 0 auto;
}

.content .header {
    width: 100%;
    height: 30px;
}

.right {
    float: right!important;
}

.left {
    float: left!important;
}

/*Registration*/

.content .registration-panel {
    width: 300px;
    margin: 0 auto;
}