.content {
    width: 1200px!important;
    margin: 0 auto;
}

.content .header {
    width: 100%;
    height: 30px;
}

.right {
    float: right!important;
}

.left {
    float: left!important;
}

.clr {
    clear: both;
}

.add-hero-wrapper {
    margin: 0 auto;
    width: 765px;
}

.race-img-wrap {
    display: inline-block;
    width: 250px;
}

.input-wrap{
    margin-bottom: 10px;
}

ul.non-styled li{
    list-style: none;
}

.race-img-wrap.selected {
    border: 2px solid black;
    border-radius: 10px;
}

.race-img-wrap img{
    width: 100%;
}

img.hero-class-icon{
    width: 16px!important;
}


.race-img-wrap .name{
    text-align: center;
}

/*Registration*/

.content .registration-panel {
    width: 300px;
    margin: 0 auto;
}

.hero-list {
    width: 200px;
    height: 500px;
    overflow-y: scroll;
}

.locations-container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border: 2px grey solid;
}

.locations-container .location{
    position: absolute;
}

.locations-container .location img{
    display: block;
    margin: 0 auto;
}

.in-way {
    text-align: center;
    padding-bottom: 20px;
}